.fade1-appear {
  transform: translate(0, 50px);
  opacity: 0;
}
.fade1-appear-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: var(--timp);
}
.fade1-appear-done {
  opacity: 1;
  transition: opacity var(--timp);
}
.fade2-appear {
  transform: translate(0, -50px);
  opacity: 0;
}
.fade2-appear-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: var(--timp);
}
.fade2-appear-done {
  opacity: 1;
  transition: opacity var(--timp);
}
